body {
  background-color: #ccc;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-main-section {
  /* border: 2px black solid; */
  /* height: 100vh; */
  background: #fff;
  box-shadow: inset 2px 2px 5px gold;
}

.about-build-div {
  /* border: 1px red solid; */
  display: flex;
}

.about-build {
  /* border: 1px green solid; */
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

span {
  color: lightslategray;
}

.about-moto {
  /* border: 1px brown solid; */
  text-align: center;
  margin: 1rem;
  font-size: 0.8rem;
  padding-top: 2.5rem;
  font-weight: 500;
}

/* image div */
.about-img-div {
  /* border: 1px purple solid; */
  display: flex;
}

.about-house img {
  /* border: 2px gray solid; */
  width: 450px;
  height: 300px;
}

.about-interior img {
  /* border: 2px gray solid; */
  width: 545px;
  height: 300px;
}

.about-hr {
  border: 1px gold solid;
}

/* about team */

.about-ourteam {
  /* border: 1px cyan solid; */
  display: flex;
}

.about-team {
  /* border: 1px coral solid; */
  font-size: 1.5rem;
  text-align: center;
  margin-left: 5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.about-team-vision {
  /* border: 1px slateblue solid; */
  font-size: 1rem;
  text-align: center;
  margin-left: 20rem;
  margin-top: 1rem;
  padding-top: 1rem;
  font-weight: 600;
}

/* team vision */

.about-ourvision {
  /* border: 1px coral solid; */
  display: flex;
  flex-direction: row-reverse;
}

.about-vision-div {
  /* border: 1px salmon solid; */
  font-size: 1.5rem;
  text-align: center;
  margin-right: 5rem;
  margin-top: 1rem;
  font-weight: bold;
  padding-top: 2.5rem;
}

.about-vision-text {
  /* border: 1px darkgreen solid; */
  font-size: 1rem;
  text-align: center;
  margin-right: 10rem;
  margin-top: 1rem;
  margin-left: 2rem;
  padding-top: 1rem;
  font-weight: 600;
}
/* CampusPro is a Nigerian based platform that was created with the goal of making it easier for university students to get better accomdation in any campus they are during their days in school. CampusPro website tightens up the gap between the student and the agent in terms of accomodation to rent. 
          In campusPro, students who wish to sell some of their items they used in school also have the opportunuty to signup on the website as a merchant and upload images, descriptions and prices of the items they wish to upload. We are focused on giving the students a 
          proper accomodation suitable for their learning through the legit and qualified agents that signup on our website. */

          /* CampusPro vision is to be the leading provider of student housing solutions,
                 providing a safe and secure living environment for students across the country.
                 We strive to create an environment that is conducive for learning and growth while 
                  also providing a comfortable and enjoying living experience. Our goal is to help 
                  students with the best possible housing options while also helping them save money
                  on their rent. */