.add-items-div {
  /* width: 100%; */
  margin-top: 1.5rem;
  display: flex;
  background-color: #fff;
  box-shadow: inset 0 0.5em 1.5em rgba(223, 221, 221, 0.406);
}
.add-items-form {
  margin: 0.5rem auto 0;
  padding: 2rem auto;
}
.add-items-inputs,
.addItem-category {
  width: 25rem;
  border: 1px solid;
  text-align: justify;
}
.add-items-inputs:hover {
  border: 1px solid gold !important;
}
.add-item-checkbox {
  margin-right: 10px;
}

.add-items-form div {
  padding: 0.4rem;
  /* margin: 1rem; */
}
.add-items-form div label {
  /* display: block; */
  margin-bottom: 0.3rem;
}
.add-item-btn {
  text-align: center;
  margin-top: 0;
}
.add-item-btn button {
  /* margin-top: 12px; */
  border: 0;
  border-radius: 20px;
  background-color: gold !important;
  padding: 7px 4rem;
  margin-bottom: 2rem;
}
.close-button {
  margin-top: 12px;
  border: 0;
  border-radius: 10px;
  background-color: gold !important;
  padding: 3px 2rem;
}
.close-button:hover,
.add-item-btn button:hover {
  color: #fff !important ;
  background-color: black !important;
}
.addItem-error-message {
  font-size: 12px;
  color: red;
}
.add-item-hysteric {
  color: red;
  margin-left: 5px;
  font-size: 12px;
}
#requiredInfo {
  color: rgb(138, 135, 135);
  font-size: 12px;
}
.add-items-images {
  margin: 1rem auto 0.5rem;
}
.addItem-error-message {
  color: red;
  font-size: 12px;
}
