body {
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  background-color: #ede9d3;
}
.homepage {
  background-color: #ede9d3;
}
p {
  margin: 3px !important;
}
.hp-header {
  position: fixed;
  display: flex;
  background-color: rgb(9, 7, 7);
  /* background-color: #ccc; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin-bottom: 15vh;
  /* position: fixed; */
  z-index: 100;
}
.hp-header2 {
  position: fixed;
  display: flex;
  background-color: rgb(9, 7, 7);
  /* background-color: #ccc; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  /* position: fixed; */
  z-index: 100;
}
.hp-login-button {
  padding: 10px 30px;
  font-size: 15px;
  background-color: gold;
  color: black;
  border-radius: 27px;
  margin-right: 10px;
  border: none;
}
.hp-logo {
  width: 20rem;
}
.hp-logo-div {
  display: flex;
  border: none;
  align-items: center;
  /* margin-left: 15px; */
}
.hp-select-button {
  height: 8vh;
  width: 50vw;
  outline: none;
  /* text-align: center; */
}
.hp-carousel-div {
  position: relative;
}
.hp-section1 {
  position: absolute;
  top: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 97vh;
  border: none;
  /* background-image: url("./images/house-interior.webp"); */
  /* background-repeat: no-repeat; */
  background-size: 100%;
  padding-bottom: 25vh;
  padding-top: 20vh;
}
.hp-buy-div,
.hp-sell-div,
.hp-rent-div {
  width: 25%;
  border: none;
  background-color: #ffef99;
  min-height: 90%;
  text-align: center;
  /* border-top-right-radius: 40px;
  border-bottom-left-radius: 40px; */
  padding-top: 7px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* padding-top: 10vh; */
  /* justify-content: space-around; */
  transition: transform 0.6s;
}
.hp-buy-div:hover,
.hp-sell-div:hover,
.hp-rent-div:hover {
  transform: scale(1.1);
}
.hp-heading {
  margin-top: 20%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.hp-texts {
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 0 15px;
}
.hp-school {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  border-style: none;
  width: 100%;
  /* height: 40vh; */
  /* background-color: black; */
}
.hp-school::-webkit-scrollbar {
  display: none;
}
.hp-school-div {
  /* border-style: solid; */
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-height: 52vh;
  margin-right: 15px;
}
.hp-school-div p {
  text-align: center;
  color: black;
  border: none !important;
}
.hp-props-text {
  background-color: #ffef99;
}
.hp-img-div {
  height: 60%;
  position: relative;
}
.hp-img-div div {
  position: absolute;
  top: 5px;
  right: 3px;
  color: black;
  background-color: #ffef99;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}
.hp-locate {
  max-width: 15px;
  margin-top: 4px;
}

.hp-img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hp-view-div {
  margin-top: 20vh;
}
.hp-view-hostels {
  color: black;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
}
.home-school-button {
  border-radius: 10px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-bottom: 5px;
  background-color: black;
  color: white;
}
.sp-subrent-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 15vh;
}
.sp-sub-div {
  margin: 5vh 0;
  background-color: black;
  min-height: 46vh !important;
  max-height: 46vh !important;
  width: 23vw;
}
.sp-text-div {
  text-align: center;
  padding-bottom: 2vh !important;
  height: 40%;
  background-color: #ffef99;
  color: black;
  margin-top: -1.7vh;
}
.sp-img-div {
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}
.sp-img-div div {
  position: absolute;
  background-color: #ffef99;
  display: flex;
  flex-direction: row;
  top: 5px;
  right: 5px;
  font-size: 12px;
  border-radius: 15px;
  padding: 1px 10px;
}
.sp-img-div img {
  height: 100%;
  width: 100%;
}

.sp-text-div button {
  background-color: transparent;
  padding: 7px 15px;
  border-width: 1px;
  border-radius: 20px;
  border-color: black;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 3vh;
  transition: background-color 0.7s;
}
.sp-text-div button:hover {
  background-color: black;
  color: #ffef99;
}
.hp-button-link {
  margin-top: 10px;
  padding: 6px 20px;
  background-color: transparent;
  border: solid 1px black;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.6s;
}
.link {
  text-decoration: none;
  color: black;
}
.hp-button-link:hover {
  background-color: black;
  color: white;
}
.sp-select-amount {
  width: 20vw;
  outline: none;
  height: 15vh;
  border: solid 2px #ffef99;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 14px;
  /* margin-top: 10vh; */
}
.sp-select-amount option {
  font-size: 13px;
  background-color: black;
  color: white;
}
.rentpage2 {
  background-color: whitesmoke;
}
.sp-sub-div22 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
}
.sp-sub-div22::-webkit-scrollbar {
  display: none;
}

.sp2-divs {
  /* border: solid black 3px; */
  width: 47%;
}
.sp2-divs2 {
  border: solid black 3px;
  width: 40% !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sp2-divs2 p {
  color: black;
  font-size: 15px;
  line-height: 20px;
}
.sp2-linkk {
  text-decoration: none;
}

.cate-gory {
  text-align: center;
  font-weight: bold;
}

.bp1-select {
  background-color: whitesmoke;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: -15rem;
}

.bp1-buy-sec {
  border: 1px black solid;
  width: 100%;
}

.bp1-houses {
  color: #000;
  border: 1px black solid;
  width: 20%;
  text-align: center;
  background-color: #ffef99;
  color: black;
}
.sp2-linkk button:active {
  opacity: 0.5;
}
.sp2-carousel-div {
  padding-top: 25vh;
  width: 100;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 10vh;
}
.sp2-main-sector {
  min-height: 100%;
  width: 55%;
}

.sp2-carousel-img {
  height: 100%;
  width: 100%;
}
.sp2-divs {
  width: 100%;
  min-height: 100%;
}
.sp2-divs2 {
  width: 40%;
  min-height: 100%;
  border-radius: 30px;
  border: none !important;
  padding: 0 3vw;
}
.sp2-divs2-text {
  height: 40%;
}
.sp2-divs2-text span {
  font-weight: 700;
}
.sp2-divs2-text-span {
  font-weight: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}
.sp2-divs2-details marquee {
  color: red;
  font-weight: 600;
}
.sp2-main-img {
  width: 100%;
  min-height: 100%;
}
.sp-2-img-div {
  display: flex;
  flex-wrap: no;
  width: 100%;
  height: 25vh;
  justify-content: space-around;
  /* border-radius: 30px; */
}

.sp-2-img-div div {
  width: 17%;
  border: solid 2px #ffef99;
  height: 100%;
  margin: 5vh 0;
}
.sp2-similar-props-div {
  text-align: center;
}
.sp2-similar-props {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  /* padding-left: 26%; */
  padding-top: 15vh;
}
.sp2-agents {
  align-items: center;
  margin-top: 7vh;
  padding-bottom: 5vh;
}
.sp2-agent-info {
  height: 15%;
}
.sp2-agent-info button {
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;
  background-color: gold;
  font-size: 15px;
  padding: 1.2vh 5vw;
  border-radius: 5px;
  transition: background-color 0.7s;
}
.sp2-agent-info button:hover {
  background-color: #2a2929;
  color: gold;
}
.sp2-disclaimer {
  color: gold;
}

.property-tray {
  background-color: whitesmoke;
  padding: 3vh 0;
  margin-top: 5vh;
}

.pt-createProperty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
  padding: 0 4vw;
}
.pt-create-button {
  background-color: gold;
  color: black;
  border: none;
  padding: 1vh 3vw;
}

.pt-nav-div {
  width: 100%;
  display: flex;
  padding: 2vh 3vw;
  justify-content: space-between;
}
.pt-nav-btns {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pt-nav-btn1 {
  border: none;
  background-color: transparent;
  transition: transform 0.4s;
}
.pt-nav-btn1:hover {
  transform: scale(1.1);
}
.pt-nav-btn01 {
  border: none;
  font-weight: 700;
  color: black;
  border-bottom: solid 4px gold !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: transparent;
  transition: transform 0.4s;
}
.pt-nav-btn01:hover {
  transform: scale(1.1);
}

.pt-properties-filter {
  width: 30%;
  text-align: end;
}
.pt-properties-display {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: whitesmoke;
  margin: 2vh 3vw;
  /* width: 100%; */
}
.pt-properties {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 35vh;
  margin-bottom: 3vh;
  align-items: center;
  background-color: white;
  /* border: solid; */
}
.pt-props-img-div {
  width: 22%;
  height: 100%;
  /* border:dotted; */
}
.pt-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.pt-props-desc-div {
  width: 22%;
  height: 100%;
  align-items: center;
  padding-top: 10vh;
}
.pt-props-desc-div p,
.pt-props-campus-div p,
.pt-props-price-div p,
.pt-props-posted-div p {
  width: 100%;
  text-align: start;
  font-weight: 700;
}
.pt-texts {
  font-weight: 400 !important;
}
.pt-props-campus-div {
  padding-top: 10vh;
  width: 20%;
  height: 100%;
  align-items: center;
}
.pt-props-price-div {
  width: 14%;
  height: 100%;
  align-items: center;
  padding-top: 10vh;
}

.pt-props-posted-div {
  width: 14%;
  height: 100%;
  align-items: center;
  /* padding-top:; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.pt-props-posted-div button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.pt-delete-btn {
  width: 40px;
  padding: 0;
}
.pt-edit-btn {
  width: 30px;
  padding: 0;
}
.pt-edit {
  position: absolute;
  top: 6vh;
  left: 3vw;
  width: 20px;
  opacity: 0;
  font-size: 13px;
  padding-left: 3.2vw;
}
.pt-edit:hover {
  display: flex;
  opacity: 1;
}
.pt-delete {
  position: absolute;
  bottom: 7vh;
  padding-left: 6vw;
  font-size: 13px;
  opacity: 0;
}
.pt-delete:hover {
  opacity: 1;
}
.pt-empty-array {
  margin: 20vh 10vw;
  align-items: center;
  padding: 20px 0;
  background-color: white;
}
.pt-empty-array p {
  text-align: center;
  font-size: 40px;
}

/* Buy Page 2

.bp2-navbar {
    display: flex;
    width: 100%;
    height: 15vh;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 2s ease-in-out;
}

.bp2-sec {
    border: 1px black solid;
    width: 97%;
    height: 90vh;
    padding: 1rem;
    display: flex;
}

.bp2-sec-div {
    border: 1px green solid;
    width: 50%;
    height: 90vh;
    margin-left: 0.5rem;
}

.bp2-desc {
    border: 1px red solid;
    width: 50%;
    height: 90vh;
}

.bp2-logo {
    width: 25rem;
    margin-left: -3rem;
}

.bp2-search-bar {
    margin-right: 3rem;
}

.bp2-input {
    padding: 0.5rem 0.5rem;
    border: none;
    outline: none;
    font-weight: bold;
} */

/* basic info page */

.form {
  color: black;
  width: 400px;
  padding: 1rem;
  font-weight: bold;
  border-radius: 0px 25px 0px 0px;
  margin-left: 10rem;
  background-color: #ffef99;
}

/* select {
  width: 360px;
  margin-left: 1rem;
  height: 20px;
  margin-bottom: 1rem;
}

input {
  width: 350px;
  height: 20px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  outline: none;
} */

/* label {
  padding-left: 1rem;
} */

#upload {
  color: white;
  background-color: #ffef99;
  color: #ffef99;
}
