body{
    color: white;

}
p{
    margin: 3px;
}
.hp-header{
    /* position:fixed; */
    display:flex;
    background-color: rgb(9, 7, 7);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin-bottom: 20vh;

}
.hp-login-button{
    padding: 10px 30px;
    font-size: 15px;
    background-color: gold;
    color:black;
    border-radius: 27px;
    margin-right: 10px;
    border: none;
}
.hp-logo{
    width: 70px
}
.hp-logo-div{
    display:flex;
    border:none;
    align-items: center;
    margin-left: 15px;
}
.hp-select-button{
    height: 8vh;
    width: 50vw;
    outline: none;
    /* text-align: center; */
}
.hp-section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50vh;
    margin-bottom: 25vh;
}
.hp-buy-div, .hp-sell-div, .hp-rent-div{
    width: 25%;
    border:solid;
    background-color: gold;
    height: 100%;
    text-align: center;
    /* padding-top: 10vh; */
    /* justify-content: space-around; */

}
.hp-heading{
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: black;
}
.hp-texts{
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 0 15px;
    
}
.hp-school{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    border-style: solid;
    width: 100%;
    /* height: 40vh; */
    /* background-color: black; */
}
.hp-school::-webkit-scrollbar{
    display:none
}
.hp-school-div{
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    width:20vw;
    height:50vh ;
    margin-right: 15px;
    
}
.hp-school-div p{
    text-align: center;
    color: black;
}
.hp-props-text{
    background-color: gold;
}
.hp-img-div{
    height:60%;
}
.hp-img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hp-view-hostels{
    color: black;
    font-size: 30px;
    font-weight: 700;
}
.sp-subrent-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}
.sp-sub-div{
    margin: 5vh 0;
    background-color: black;
    height: 53vh;
}
.sp-text-div{
   text-align: center;
   padding-bottom: 2vh;
}
.sp-img-div{
    height: 60%;
    margin-bottom: 10px;
}
.sp-img-div img {
    height: 100%;
   
}

.sp-text-div button{
    background-color: transparent;
    padding: 7px 15px;
    border-width: 1px;
    border-radius: 20px;
    border-color: gold;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    transition: background-color 0.9s;
}
.hp-button-link{
    margin-top: 10px;
    padding:10px 20px;
    background-color: transparent;
    border: solid 1px black;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.6s;
}
.link{
    text-decoration: none;
    color: black;
    
}
.hp-button-link:hover{
    background-color: black;
    color: white;
}
.sp-select-amount{
    width: 20vw;
    outline: none;
    height: 5vh;
    border: solid 2px gold;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 14px;
}
.sp-select-amount option{
    font-size: 13px;
    background-color: black;
    color: white;
}
.sp2-main-sector{
    margin-top: -19vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.sp2-main-img{
    width: 100%

}
.sp2-divs{
    /* border: solid black 3px; */
    width:47%
}
.sp2-divs2{
    /* border: solid black 3px; */
    width:50%;
    display:flex;
   flex-direction: column;
   justify-content: space-around;
}
.sp2-divs2 p{
    color: black;
    font-size: 15px;
    line-height: 10px;
}
.sp2-linkk{
    text-decoration: none;
}
.sp2-linkk button:hover{
    background-color: gold;
    color: black;
}
.sp2-linkk button:active{
    opacity: 0.5
}