.bp2-minor-sec {
  /* margin-top: 9rem; */
  height: 100vh;
  display: flex;
  box-shadow: inset 2px 2px 5px black;
}

.bp2-first-div {
  margin: 1rem;
  width: 50%;
  border-radius: 10px;
  background: white;
}

.bp2-second-div {
  margin: 1.5rem;
  width: 50%;
  font-weight: bold;
  border-radius: 10px;
  height:95vh; 
  background: white;
  padding-left: 1.5rem;
}
.bp2-second-div2 {
  margin: 1.5rem;
  width: 50%;
  font-weight: bold;
  border-radius: 10px;
  height:50vh; 
  background: white;
  padding-left: 1.5rem;
}

.ab-dis {
  color: red;
}

#bp2-details {
  text-align: center;
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
  border-radius: 10px;
  margin-top: 0.5rem;
  font-weight: bold;
}

#bp2-details:hover {
  color: #ffef99;
  cursor: pointer;
}

#bp2-contact {
  background-color: #ffef99;
  text-align: center;
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
  margin-top: 0.5rem;
  border-radius: 10px;
  height: 100px;
  border: 2px black solid;
}

#bp2-contact:hover {
  background-color: black;
  color: #ffef99;
  cursor: pointer;
}

#bp2-para {
  padding-bottom: 1.3rem;
}

.bp2-i-mg {
  width: 100%;
  height: 100%;
}

.bp2-btn {
  background: gold;
  color: black;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 25px;
  justify-content: center;
  margin-left: 12rem;
  transition: all 2s ease-in-out;
}

.bp2-btn:hover {
  background: black;
  color: white;
}

.bp2-minor {
  border: 1px black solid;
  margin-bottom: -25rem;
}
