.bp2-minor-sec {
  margin-top: 9rem;
  height: 100vh;
  display: flex;
  box-shadow: inset 2px 2px 5px black;
}

.bp2-first-div {
  margin: 1rem;
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.bp2-second-div {
  margin: 1.5rem;
  width: 50%;
  font-weight: bold;
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;
  height: 50vh;
}

#bp2-details {
  background-color: gold;
  text-align: center;
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
  border-radius: 10px;
  margin-top: 0.5rem;
}

#bp2-details:hover {
  background-color: black;
  color: #ffef99;
  cursor: pointer;
}

#bp2-contact {
  background-color: #ffef99;
  text-align: center;
  font-size: 1.5rem;
  transition: all 2s ease-in-out;
  margin-top: 0.5rem;
  border-radius: 10px;
}

#bp2-contact:hover {
  background-color: black;
  color: #ffef99;
  cursor: pointer;
}

#bp2-para {
  padding-bottom: 1.3rem;
}

.bp2-i-mg {
  width: 100%;
  height: 100%;
}

.bp2-btn {
  background: gold;
  color: black;
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 25px;
  justify-content: center;
  margin-left: 12rem;
  transition: all 2s ease-in-out;
}

.bp2-btn:hover {
  background: black;
  color: white;
}

