.bp1-navbar {
  border: 1px black solid;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  background: black;
  position: fixed;
  margin-top: -9rem;
}

.bp1-logo {
  height: 200px;
  margin-top: -3rem;
  margin-left: -3rem;
}

#bp1-search {
  margin-left: 30rem;
  margin-top: -3rem;
  height: 7vh;
  width: 300px;
}

#bp1-paragraph {
  display: inline-block;
  background-color: #ffef99;
  padding: 0.5rem 1rem;
  margin-left: -5rem;
  margin-top: -5em;
  font-weight: bold;
  border-radius: 20px;
}

#bp1-p {
  margin-top: -3em;
  margin-right: 1rem;
}

/* section */

.bp1-section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  overflow: hidden;
  box-shadow: inset 2px 2px 5px black;
  margin-top: 9rem;
}

.bp1-images {
  height: 50px;
  width: 100%;
}

.bp1-items {
  height: 330px;
  width: 280px;
  margin: 1rem;
  box-shadow: 2px 2px 10px black;
}

#bp1-p-i {
  font-weight: bold;
  color: black;
  height: 15vh;
  padding-top: 2rem;
  margin-left: -4rem;
}

.bp1-btn {
  background-color: #ffef99;
  font-weight: bold;
  transition: all 2s ease-in-out;
  margin-top: 12.8rem;
}

#bp1-link-btn {
  text-decoration: none;
  color: black;
  transition: all 2s ease-in-out;
}

#bp1-link-btn:hover {
  color: #ffef99;
}

.bp1-btn:hover {
  background-color: black;
  color: #ffef99 !important;
}

.bp1-select {
  text-align: center;
  margin-left: 33rem;
  margin-top: -2rem;
  height: 5vh;
  box-shadow: 1px 1px 5px black;
  transition: all 2s ease-in-out;
  font-weight: bold;
  outline: none;
  position: fixed;
}

.bp1-select option {
  background-color: #ffef99;
  font-weight: bold;
  transition: all 5s ease-in-out;
}

.bp1-select option:hover {
  background-color: black;
  color: #ffef99;
  cursor: pointer;
}

.bp1-img-div {
  width: 100%;
  height: 0rem;
}

.bp1-normal-img {
  width: 280px;
  height: 48vh;
}