.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.dash {
  height: 100% !important;
}

.dash::after {
  content: "" !important;
  width: 100%;
  height: 100% !important;
  z-index: -1 !important;
}
@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: 0.875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}
.btn,
.nav-link {
  color: black !important;
}
.dpBtn,
.nav-link:hover {
  background-color: black !important;
  color: white !important;
}
#dropdown-basic-button {
  background-color: black !important;
  color: white !important;
}
.specialBtn button:hover {
  background-color: #ffd700 !important;
  color: black !important;
}
.signOut {
  margin-top: 15rem !important;
}

#sidebarMenu {
  color: white !important;
  height: 67rem !important;
  position: sticky;
  /* margin-bottom: 3rem !important; */
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}

.Dropdown-item {
  color: red !important;

  background-color: yellow !important;
}
.username {
  margin-right: 1rem;
  color: white;
  /* width: 1rem !important; */
}
.userName-dropdown {
  margin-right: 4rem !important;
}

.dashboard-logo {
  width: 7rem !important;
  /* height: 5rem !important; */
}
/* .dashboard-logo {
  margin: 0 !important;
  padding: 20px !important;
} */

.db-content {
  /* border: 1px solid red; */
  margin-top: 3rem;
  padding-left: 2rem;
  padding-top: 0.3rem;
  height: 16.5rem;
  background-color: #fffbe6;
  line-height: 2.5rem;
}

.db-content h6 {
  margin-top: 2rem;
  font-weight: 600;
  color: #ffdb1a;
}

.db-content button {
  margin-top: 2rem;
  width: 15rem;
  border: none;
  border-radius: 4px;
  background-color: #ffd700;
  transition: all 0.5s ease-in-out;
}

.db-content button:hover {
  background-color: black;
  color: #fffbe6;
}

.db-confirm {
  /* border: 1px solid red; */
  height: 16.5rem;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-top: 0.3rem;
  background-color: whitesmoke;
}
