

.fp-container_header{
    width: 100%;
    height: 100%;
    background-image: url('images/service\ image\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.fp-p-main p{
    padding-left: 13rem;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    word-break: break-all;
    padding-top: 1rem;
    width: 860px;
    text-align: center;
    position: relative;
    left: 5rem;
}
p{
    width: 1;
}
.fp-service{
    color: white;
    text-decoration: none;
}
.fp-service:hover{
    color: white;
    text-decoration: underline;
}

.fp-campus-image img{
    width: 40rem;
    padding: 8px;
}
 .item-one{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    left: 4rem;
    width: 40rem;
    height: 22.3rem;
} 
.fp-items, .item-one .item-two .item-three .h-t{
    position: relative;
    left: 40rem;
    width: 20rem;
    margin-top: 0%;
    margin-bottom: 0%;
    bottom: 78.8rem;
}
 .item-two{
    position: relative;
    left: 4rem;
}
.h-t{
    text-align: center;
    width: 240%;
}
.item-three{
    width: 42rem;
    margin-left: 3rem;
} 
.h-apartment{
    text-align: center;
    width: 40rem;
    position: relative;
    top: 10px;
}
@media(min-width: 200px),  (max-width: 300px){
    .fp-container_header {
      flex-direction: column; 
      /* box-sizing: border-box; */
      box-shadow: black;
    }
  }