.sp-form-one {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(33, 32, 32, 0.479),
      rgba(35, 34, 34, 0.694)
    ),
    url("./images/editImage.jpeg");
}
.sp-form h1 {
  text-align: center;
  padding-top: 40px;
}

.sp-form {
  /* line-height: 2.5rem; */
  background-color: #e4c824;
  /* border: 1px black solid; */
  width: 28rem;
  /* position: relative; */
  /* left: 28rem; */
  border-radius: 2rem;
  font-size: 1rem;
  margin: 3rem auto;
}

.sp-form label {
  position: relative;
  top: 8px;
  font-weight: bold;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sp-signup {
  text-align: center;
  position: relative;
  right: -1rem;
  bottom: 1.5rem;
  color: brown;
}
.sp-create-Account-button {
  margin: 0 auto 2rem;
  text-align: center;
}
.sp-btn {
  display: inline;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  border: none;
  margin: 1.5rem auto 2rem;

  /* transition: 5000 */
}
.sp-btn:hover {
  background-color: rgb(18, 17, 15);
  border: none;
  color: white;
  transition: 0.4s;
}
.header label,
.header input {
  position: relative;
  left: 1.5rem;
  height: 2rem;
}
/* .sp-agent-merchant {
  display: flex;
  height: 10vh;
  align-items: center;
  border: 2px solid black;
} */

/* .sp-agent {
    vertical-align: text-bottom;
  } */
.sp-merchant1,
.sp-agent {
  /* display: inline-block; */
  position: absolute;
  top: 80px;
  z-index: 1;
}
/* .sp-input2 {
  height: 15px;
  left: 5.3rem;
  margin-bottom: -1.3rem;
} */

/*  */

#checks {
  /* height: 7vh; */
  margin: 1rem 0 0.3rem;
  align-items: center;
  display: flex;
  /* margin-right: 5px; */
}

#main {
  display: flex;
  gap: 11.5rem;
}
.sp-img-key {
  width: 1rem;
  position: absolute;
  top: 33rem;
  left: 2rem;
}
.sp-input {
  width: 22.2rem;
  border-radius: 2rem;
  border: 1px solid;
  outline: none;
}

.sp-input-testing {
  width: 20rem;
  border-radius: 0rem 2rem 2rem 0;
  border: 0;
  outline: none;
  /* margin-right: 5p; */
}
.sp-icon-input {
  width: 22rem;
  border-radius: 2rem;
  background-color: white;
  padding-left: 10px;
  margin-left: 19px;
}
.sp-user-img {
  width: 1rem;
  opacity: 0.5;
}
.sp-email-img {
  width: 1rem;
  position: absolute;
  top: 17.5rem;
  left: 2rem;
}
.sp-number-img {
  width: 1rem;
  position: absolute;
  top: 22.7rem;
  left: 2rem;
}
/* .sp-form,
input label button h2 h6 {
  position: relative;
  left: 30rem;
} */
.sp-type-user {
  font-size: medium;
  margin-right: 8px;
  display: inline;
}
.sp-pwd2 {
  padding-left: 2rem;
}
.sp-pwd4 {
  padding-left: 2rem;
}
.sp-number4 {
  padding-left: 2rem;
}
.sp-number2 {
  padding-left: 2rem;
}
.sp-email-input {
  padding-left: 2rem;
}
.sp-input1 {
  padding-left: 2rem;
}
.sp-input {
  padding-left: 2rem;
}
