.cp-body {
  background-color: lightgrey;
  height: 100vh;
  padding: 0.5rem;
}

.cp-sec {
  /* border: 1px solid black; */
  margin-left: 1rem;
  padding-left: 2rem;
  width: 95vw;
  height: 90vh;
  background-color: white;
}

.cp-head {
  /* border: 1px solid blue; */
  border-bottom: 1px solid rgb(125, 125, 125);
  margin-top: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.cp-account {
  /* border: 1px solid red; */
  border-bottom: 1px solid rgb(125, 125, 125);
  margin-top: 2rem;
  width: 45vw;
}

.cp-password {
  /* border: 1px solid orange; */
  margin-top: 3rem;
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cp-password button {
  border: none;
  background-color: white;
  color: gold;
  font-size: x-large;
  font-weight: 500;
}

.cp-forms label {
  margin-top: 1rem;
}
.cp-forms input {
  margin-top: 0.5rem;
  height: 3rem;
  width: 45vw;
}

.cp-btn {
  margin-top: 1.5rem;
  height: 2.5rem;
  width: 5rem;
  border: none;
  border-radius: 5px;
  background-color: gold;
  transition: all 0.5s ease-in-out;
}
.cp-btn:hover {
  background-color: black;
  color: white;
}
