.pi-body {
  background-color: white;
  height: 60vh;
  box-shadow: inset 0 0.5em 1.5em rgba(223, 221, 221, 0.406);
  padding-top: 1rem;
  margin-top: 1.5rem;
  /* padding: 0.5rem; */
}

.pi-sec {
  /* border: 1px solid black; */
  /* margin-left: 1rem; */
  padding-left: 2rem;
  width: 100%;
  background-color: white;
  /* box-shadow: inset 0 0.5em 1.5em rgba(223, 221, 221, 0.406); */
}

.pi-head {
  /* border: 1px solid blue; */
  border-bottom: 1px solid rgb(125, 125, 125);
  margin-top: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.pi-pic {
  margin-top: 1.5rem;
  border-radius: 800px;
  width: 150px;
  height: 150px;
}
.pi-pic:hover {
  cursor: pointer;
}
.pi-div {
  /* border: 1px solid black; */
  width: 45vw;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pi-div label {
  font-size: large !important;
  font-weight: 500;
}

.pi-input input {
  margin-top: 0.5rem;
  height: 3rem;
  width: 45vw;
  border: none;
  border-bottom: 1px solid rgb(125, 125, 125);
}

.pi-div button {
  border: none;
  font-size: large !important;
  font-weight: 500;
  background-color: white;
  color: gold;
}
#uploadImage {
  display: none;
}
.pi-btn {
  margin-top: 0.5rem;
  height: 2.5rem;
  width: 5rem;
  border: none;
  border-radius: 5px;
  background-color: gold;
  transition: all 0.3s ease-in-out;
}
.pi-btn:hover {
  background-color: black;
  color: white;
}
